# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: localhost
    database_port: 3306
    database_name: grupoca7_logisticSystem
    database_user: grupoca7_logisUS
    database_password: EKhR7r[EbLz5
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: '%kernel.project_dir%/var/data/data.sqlite'

    mailer_transport: smtp
    mailer_host: smtp.gmail.com
    mailer_user: tianos-gmail
    mailer_password: null

    project_name: 'Sistemas Control Logistico'
    project_name_html: '<b>SIS</b>colo'
    project_name_html_mini: '<b>SIS</b>c'
    google_api_key: AIzaSyARZzXDkv1RY69OiFCvEIIE4D6wye0UOBA

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt